.vscode/**
.vscode-test/**
out/test/**
src/**
.gitignore
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
**/*.ai
**/build-tmp-napi-v8/**
.cache/**
.claude/**
.github/**
**/node_modules/**/build/Release/.deps/**
**/node_modules/**/build/**/*.mk
**/node_modules/**/build/Makefile
**/node_modules/**/build/config.gypi
